<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
</head>
	<div class='header'><h3>{{brand.name}}</h3></div>

	<!-- Flash Messages for the Web-app-->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class='flash'>{{message}}</div>
  	{% endfor %}
	{% endif %}
	{% endwith %}

<body>
	<!-- Navigation Bar for the Web-app-->
	<ul>
		<li><a class='brands' href='{{url_for('index')}}'>Home</a></li>
		<li><a class='brands' href='{{url_for('profile')}}'>Profile</a></li>
		<li><a class='brands' href='{{url_for('brandsCatalog', brand_id = 1)}}'>Apple</a></li>
		<li><a class='brands' href='{{url_for('brandsCatalog', brand_id = 2)}}'>Sumsung</a></li>
		<li><a class='brands' href='{{url_for('brandsCatalog', brand_id = 3)}}'>LG</a></li>
		<li><a class='brands' href='{{url_for('brandsCatalog', brand_id = 4)}}'>Sony</a></li>
		<li><a class='brands' href='{{url_for('brandsCatalog', brand_id = 5)}}'>Huawei</a></li>
		<li><a class='brands' href='{{url_for('gdisconnect')}}'>Login/Logout</a></li>
	</ul>

	<!-- Loops through the items in the DB and prints them-->
	{% for i in items %}
  	<div class="Tile">
  		<img src="{{i.image}}"style="width:150px;height:250px;">
  		<h1>{{i.name}}</h1>
  		<h2>{{i.price}}</h2>
  		<h4>{{i.description}}</h4>

  	</div>
	{% endfor %}

</div>
</body>
</html>